{% extends "userapp/base1.html" %}

{% block title %}
    <title> Homepage</title>
{% endblock %}

{% block content %}
<br><br>
<div class="container-fluid bg-6 text-center">
<h2>  Our Mission is to empower millions of service professionals by delivering services at-home in a way that has never been experienced before.</h2>
</div>

<br>
<div class="container-fluid bg-6 text-center">
<h3>Location</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.781313996573!2d78.3796685148874!3d17.422279406383595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb915b1d6a9f89%3A0xf5e18f0488344307!2sOjas%20Innovative%20Technologies%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1626936478587!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<br><br><br>



<div class="ContactUs__contactCardContainer--2obV9"><h2 class="ContactUs__header--29YGT">Hyderabad</h2><p class="ContactUs__address--HvcUK">BanjaraHills,Aparna tower </p><p class="ContactUs__address--HvcUK">Customer Support:<br>+919889922232<br>cleanhome@services.com</p></div>
<div class="ContactUs__contactCardContainer--2obV9"><h2 class="ContactUs__header--29YGT">Mumbai</h2><p class="ContactUs__address--HvcUK">Suite 306, 7-9 Gibbons Street, NSW 2016</p><p class="ContactUs__address--HvcUK">Customer Support:<br>+919859922232<br>cleanhome@services.com</p></div>
</div>
    {% endblock %}
